.aboutimg{
  background-image: url(aboutusimg.jpeg);
  height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}


.abouttext{
  max-width: 100%;
  height: 600px;
  display:flex;
  position: relative;
  padding-left: 400px;
  padding-right: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.abouttext p{
  font-size: 20px;
  padding-top: 70px;
}

.abouttext h1{
  padding-top: 100px;
}
