.hidden {
  display: none;
}

.message {
  margin-top: 200px;
  text-align: center;
  height: 500px;
  margin-right: 250px;
  margin-left: 150px;
}

h5 {
  margin-top: 250px;
  text-align: center;
}

.containercontact {
  display: flex;


}

.position  {
  margin-top: 300px;
}

#map {
  z-index:0;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
}
