// Specific CSS for your home-page

.background {
  height: 700px;
  background-image: url(OliveTrees.jpeg);
  background-position: center;
  background-size: 100%;
}



h1, p {
  margin-top: 50px;
  text-align: center;
}

