.backgroundprod{
  background: url("BotiliaRadino1.jpeg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}


.abouttextprod{
  padding-right: 400px;
  padding-left: 400px;
  text-align: center;
}


