<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="topimage">
        <h2 class="animated">Olive Oil & Region</h2>
      </div>
      <div>

        <div class="top">
          <div class="text">
            <h2 class="title">Organic Olive Oil</h2>
            <h4>The specific structure of the volcanic soil and the quality of our organic olives confer to the cold pressed extra virgin oil produced by Azienda Agricola Dora Radino an intense green-tinged golden colour and a slightly bitter, spicy taste, with a touch of fruity sThweetness and a hint of almonds.
             These tasting features, enhanced by our oil’s excellent anti-oxidant qualities, combine to produce a harmonious full-bodied oil that perfectly matches the simple dishes of everyday cuisine. Olive oil consists primarily of unsaturated vegetable fats (triacylglycerols) and other secondary ingredients such as vitamin E, squalene and b-carotene.
             All these substances, which are the basis of the Mediterranean diet, have antioxidant properties and are beneficial to health only if the level of free fatty acid content (acidity) is very low.</h4>

             <h4>Current European Union legislation requires extra virgin olive oil (the best quality) to have an acidity level of no more than 0.8%.
             The special know-how handed down by farming traditions in Basilicata and rigorous techniques for harvesting and processing the olives mean that we can obtain an extra virgin olive oil with an acidity level well below the legal limit (our organic oil never exceeds an acidity level of 0.3 %) and a minimal peroxide content. We produce high-quality oil because:
             We use exclusively olives from our own olive trees;</h4>
          </div>
          <%=  image_tag(("brancholive.jpg"), :class => "topimg") %>
        </div>

        <div class="bottom">
          <%=  image_tag(("Basilicata.png"), :class => "bottomimg") %>
          <div class="textbottom">
            <h4>
            Rapolla, the town outside which our farm is located, lies at the foot of Monte Vulture in Potenza Province in the hilly area (circa 400 m.) of Basilicata. Monte Vulture is a long-extinct volcano which gave birth to the hills it still dominates and gives its name to our area of Vulture which is so rich in mineral waters and so famous for its naturally-fertile soil that it enjoys a designation of origin.
            Olives and vines are the major farming activities here and symbolise the traditions of farming in this area with its rich historical and culture traditions. </h4>
            <h4>Visit the mediaeval city of Melfi, where you can see the magnificent castle of Frederick II Hohenstaufen of Swabia (the Constitutions of Melfi), and the Roman city of Venosa, the birthplace of the Latin poet Horace and famous for its ancient Roman thermal baths and its wine, the Aglianico del Vulture, and you will soon be convinced.
            The unique composition of the volcanic soil combined with the care and with scientific, technological as well as the special attention to tradition confer to our products premium quality and distinctive taste that you will not fail to appreciate.</h4>
          </div>
        </div>

      </div>

      <div class="map"> </div>

     </div>
  </div>


</div>








