<div class="container"></div>

<div class="parallax" data-parallax="scroll" data-image-src="assets/olivebottles.jpeg"></div>

<div class="container1">
  <div class="about">
    <h1>Our Story</h1>
    <p>
      "We are above all farmers, bound to our soil, our plants and the people who grow them and look after them"
      The Dora Radino family has always been at the fore front in the production of <b><i>premium quality organic olive oil</i></b>.
    </p>
      <button class="button">Find out more</button>
    </div>
  <div class="image"></div>
</div>

<div class="container2">
  <p>
    The <span class="snip"> Dora Radino </span> properties are situated on the rolling hills of the Basilicata region.
    The volcanic soil lends itself particularly well for the farming of olive trees and grapes.</p>

</div>

<div class="parallax" data-parallax="scroll" data-image-src="assets/olivebranch.jpg"></div>

<div class="container3">
  <div class="image1"></div>
  <div class="about1">
    <h1>The Oil</h1>
    <p>
      The olive oil produced by Azienda Agricola Dora Radino is an intense green-tinged golden colour and a slightly bitter,
      spicy taste, with a touch of fruity sweetness and a hint of almonds
      <button class="button">Find out more</button>
    </p>
  </div>
</div>


<div class="container2">
  <p>
    The <span class="snip"> Dora Radino </span> properties are situated on the rolling hills of the Basilicata region.
    The volcanic soil lends itself particularly well for the farming of olive trees and grapes.</p>

</div>





<!-- <div class="parallax-window" data-parallax="scroll" data-z-index="100" data-image-src="assets/AllBottles.jpeg"></div> -->


























<!--       <div class="parag">

        <h1> Our Philosophy </h1>

        <p >
          The Dora Radino properties are situated on the rolling hills of the Basilicata region.
          The volcanic soil lends itself particularly well for the farming of olive trees and grapes.
        </p>
        <p>
          The Dora Radino family has always been at the fore front in the production of premium quality organic olive oil and wine.
          When Mrs Dora Radino decided to take over the direct management of the family farmland in the 1980s, the aim she had in mind was to enrich traditional approaches to quality by introducing organic techniques.
        </p>
        <p>
          <em> "We are above all farmers, bound to our soil, our plants and the people who grow them and look after them" </em>
        </p>
        <p>
          A few years ago we started retailing our organic olive oil and our wine ourselves as we wanted to offer a reasonably-priced top-quality product that is traceable from tree to table under the control of our own farm
        </p>

      </div> -->




      <!-- <div class="map"> </div>


      <div class="container">
        <div class="row">
          <div class="col-12">

           </div>
        </div> -->








