<div class="topimage">
  <h2 class="animated">How We Make the Oil</h2>
</div>
<div>
  <h2>A TITLE COMES HERE</h2>
  <div class="top">
    <h4>The specific structure of the volcanic soil and the quality of our organic olives confer to the cold pressed extra virgin oil produced by Azienda Agricola Dora Radino an intense green-tinged golden colour and a slightly bitter, spicy taste, with a touch of fruity sThweetness and a hint of almonds. These tasting features, enhanced by our oil’s excellent anti-oxidant qualities, combine to produce a harmonious full-bodied oil that perfectly matches the simple dishes of everyday cuisine. Olive oil consists primarily of unsaturated vegetable fats (triacylglycerols) and other secondary ingredients such as vitamin E, squalene and b-carotene. All these substances, which are the basis of the Mediterranean diet, have antioxidant properties and are beneficial to health only if the level of free fatty acid content (acidity) is very low. Current European Union legislation requires extra virgin olive oil (the best quality) to have an acidity level of no more than 0.8%. The special know-how handed down by farming traditions in Basilicata and rigorous techniques for harvesting and processing the olives mean that we can obtain an extra virgin olive oil with an acidity level well below the legal limit (our organic oil never exceeds an acidity level of 0.3 %) and a minimal peroxide content. We produce high-quality oil because:
            We use exclusively olives from our own olive trees;
       The olives are harvested by hand at the beginning of the  season (late October – early November) when they are    only just ripe, have the lowest degree of acidity and are  especially healthy and aromatic;
       We always insist on pressing the olives on the same day as they are picked in the traditional stone-mill olive press;
      The oil is extracted mechanically by cold-pressing in a continuous facility which preserves all the original purity and freshness of the olives
      Our olive groves (as well as our vignards) are farmed organically as born out by the official seal issued by the Italian Agency ICEA. Our endeavours to raise quality were rewarded when our farm received the Biol Prize for the best organic extra virgin olive oil produced in Basilicata. So we are proud to offer top-quality oil that will help to raise awareness and broaden the availability of the best produce of the Vulture region. To guarantee the high quality of our olive oil relevant analyses are conducted for every new production. You may check the results by clicking on the link below.

      In a nutshell, the quality of an extra virgin organic oil is determined by its low acidity and peroxide levels. As you may verify from the results of the analysis the levels in our olive oil are especially low.
    </h4>
    <%=  image_tag(("sunset.jpg"), :class => "topimg") %>
  </div>

  <div class="bottom">
    <%=  image_tag(("Basilicata.png"), :class => "topimg") %>
    <h4>
    Rapolla, the town outside which our farm is located, lies at the foot of Monte Vulture in Potenza Province in the hilly area (circa 400 m.) of Basilicata. Monte Vulture is a long-extinct volcano which gave birth to the hills it still dominates and gives its name to our area of Vulture which is so rich in mineral waters and so famous for its naturally-fertile soil that it enjoys a designation of origin.
    Olives and vines are the major farming activities here and symbolise the traditions of farming in this area with its rich historical and culture traditions. Visit the mediaeval city of Melfi, where you can see the magnificent castle of Frederick II Hohenstaufen of Swabia (the Constitutions of Melfi), and the Roman city of Venosa, the birthplace of the Latin poet Horace and famous for its ancient Roman thermal baths and its wine, the Aglianico del Vulture, and you will soon be convinced.
    The unique composition of the volcanic soil combined with the care and with scientific, technological as well as the special attention to tradition confer to our products premium quality and distinctive taste that you will not fail to appreciate.

     </h4>
  </div>

</div>

<div class="map"> </div>
