

li, a {
  font-weight: 1000;
  text-decoration: none !important;
  font-size: 25px;
  color: #0D3B66;
  padding-top: 15px;
  padding-right: 20px;
  font-family: 'Overpass', sans-serif;
}

a:hover {
  color: #6FAFEC
}

.nav {
  margin-right: 150px;
}


header {
  height: 120px;
  display: flex;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.logo {
  margin-right: auto;
  margin-left: 150px
}

.btn {
    margin-right: 100px;

}


// .nan_links li a {
//   transition
// }
















// custom lewagon set up for navbar

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
