<footer class="footer">
  <%= image_tag "logo.png", alt: "Olio Radino Logo", :class => "logo-footer", width: 200 %>
  <p class="pfooter"> 2020 Olio Radino </p>
      <ul class="nav_links">
        <%= link_to image_tag("facebook.png") %>
      </ul>
</footer>

