
      <footer class="footer">
        <%= image_tag "logo.png", alt: "Olio Radino Logo", :class => "logo-footer", width: 200 %>
        <h3 class="pfooter"> @2020 Olio Radino, All rights reserved </h3>
      </footer>

